

/* .footer {
    background-color: blueviolet;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    box-sizing: border-box;
  } */


.gradient-background {
    background: linear-gradient(300deg, #00bfff, #D33BDF, #FE6868);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
}

.gradient-background-2{
    background: linear-gradient(30deg, #3d8bff, #25c3c3, #5c33bb);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.row{
    padding-top:  20px;
    padding-left: 50px;
    padding-bottom: 30px;
    --bs-gutter-x: 0 !important;
        
}


.carousel-item{
    padding-top: 70px; 
}

@media (max-width: 768px) {
    .carousel-item {
        padding-top: 70px; 
    }
}

.card-body{
    background-color: #81baba;
    font-weight: bold;  
} 

.card.shadow-sm{
    border: 0 !important;
    padding: 10px;
    background: transparent !important;
}
