

/* .footer {
    background-color: blueviolet;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    box-sizing: border-box;
  } */


.gradient-background {
    background: linear-gradient(300deg, #00bfff, #D33BDF, #FE6868);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
}

/* .gradient-background-2{
    background: linear-gradient(30deg, #3d8bff, #25c3c3, #5c33bb);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
} */


/* .navbar-toggler.nav-item.dropdown{
    overflow: hidden;

} */

/* .dropdown-menu.box-1{
     overflow: hidden; 
     position: absolute;
    right: 10px;
} */


.hero{
    background: rgb(160, 54, 54);
    height: 60vh;
    width: 100%;
    position: relative;
}

.hero h2{
    text-align: center;
    padding-top: 40px;
    font-size: 42px;
}

.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}

.text {
    background: #ebb291;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;    
    top: 8rem;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #000000;
    padding: 20px;
    box-sizing: border-box;
}

.text p{
    font-size: 20px;
    line-height: 25px;
}

.text h4{
    margin: 35px 0 5px;
    color: rgb(198, 6, 121);
}

.hero .container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-35%,-50%);
}

.indicator{
    position: relative;
    left: 75%;
    transform: translateX(-50%);
    bottom: -300px;
    z-index: 2;
}

.indicator .btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    background: white !important;
    cursor: pointer;
    transition: 0.5s;
}

.indicator .active{
    width: 45px;
}

.testimonial{
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.nav-item.product-li{
    position: relative !important;
}

.dropdown-menu.product {
    position: absolute !important;
    /* left: 350px !important; */
}

#product-nav{
    padding-top: 8.25px !important;
}


.sign-up a{
    text-decoration: none;
    color: #000;
}

.login a{
    text-decoration: none;
    color: white ;
} 

.login {
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: black !important;
}

.row.heading{
    padding-top:  20px;
    padding-left: 50px;
    padding-bottom: 30px;
    --bs-gutter-x: 0 !important;
    
}

.pack-card{
    padding-left: 0;
    background-color: azure;
}

.album.card-container{
    background-color: antiquewhite;
}

.col>.shadow-sm{
    background-color: white;
}

.carousel-item{
    padding-top: 70px; 
}

@media (max-width: 768px) {
    .carousel-item {
        padding-top: 70px; 
    }
}

.card-body{
    /* background-color: #81baba; */
    font-weight: bold;  
} 

.card.shadow-sm{
    border: 0 !important;
    padding: 10px;
    background: transparent !important;
}

