

/* .footer {
    background-color: blueviolet;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
    box-sizing: border-box;
  } */


.gradient-background {
    background: linear-gradient(300deg, #00bfff, #D33BDF, #FE6868);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    
}

/* .gradient-background-2{
    background: linear-gradient(30deg, #3d8bff, #25c3c3, #5c33bb);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
} */


/* .navbar-toggler.nav-item.dropdown{
    overflow: hidden;

} */

/* .dropdown-menu.box-1{
     overflow: hidden; 
     position: absolute;
    right: 10px;
} */


/* #product-main{
    box-shadow: 10px 10px 30px rgba(0,0,0,0.6) !important ;
}
#product{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06) !important ;
}
#product-sub{
    box-shadow: 10px 10px 15px rgba(0,0,0,0.06) !important ;
} */


.co .shadow-sm {
    position: relative;
    
}

.co .shadow-sm .card-body {
    position: absolute;

}

.product-image{
    align-self: center;
}




#nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.carousel-inner .carousel-item{
    padding-top: 0 ;
}

#product-sub .pack-card .col{
    box-shadow: 10px 10px 15px 10px rgba(0,0,0,0.06) !important ;
}



.hero{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    height: 60vh;
    width: 100%;
    position: relative;
    background: url(./bg-testimonial.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    
}

.hero h2{
    position: absolute;
    text-align: center;
    left: 31% ;
    padding-top: 20px;
    padding-bottom: 20px ;
    font-size: 42px;
    background: transparent;
    width: 40% ;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.slide-row{
    display: flex;
    width: 3200px;
    transition: 0.5s;
}

.slide-col{
    width: 800px;
    height: 400px;
    position: relative;
}

.text {
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #280808 ;
    /* background: #ebb291; */
    width: 500px;
    height: 270px;
    position: absolute !important;
    left: 0;    
    top: 8rem;
    transform: translateY(-50%);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}



.text p{
    font-size: 20px;
    line-height: 25px;
}

.text h4{
    margin: 35px 0 5px;
    color: rgb(255, 255, 255);
}

.hero .container{
    width: 700px;
    height: 400px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-35%,-50%);
}

.indicator{
    position: relative;
    left: 75%;
    transform: translateX(-50%);
    bottom: -300px;
    z-index: 2;
}

.indicator .btn{
    display: inline-block;
    height: 15px;
    width: 15px;
    background: white !important;
    cursor: pointer;
    transition: 0.5s;
}

.indicator .active{
    width: 45px;
}

.testimonial{
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    position: absolute; 
}


.nav-item.product-li{
    position: relative !important;
}

.dropdown-menu.product {
    position: absolute !important;
}

#product-nav{
    padding-top: 8.25px !important;
}


.sign-up a{
    text-decoration: none;
    color: #000;
}

.login a{
    text-decoration: none;
    color: white ;
} 

.login {
    --bs-btn-hover-color: white !important;
    --bs-btn-hover-bg: black !important;
}

.row.heading{
    padding-top:  20px;
    padding-left: 50px;
    padding-bottom: 30px;
    --bs-gutter-x: 0 !important;
    
}

.pack-card{
    /* padding-left: 0; */
    margin-top: 5px !important;
    margin-bottom: 20px !important ;
    background-color: azure;
}

/* .album.card-container{
    background-color: antiquewhite; 
} */

.col>.shadow-sm{
    background-color: white;
}

.carousel-item{
    padding-top: 70px; 
}



.card-body{
    /* background-color: #81baba; */
    font-weight: bold;  
} 

.card.shadow-sm{
    border: 0 !important;
    padding: 10px;
    /* background: transparent !important; */
}

#e-smart{
    font-weight: bold;
}
#e-smart a{
    text-decoration: none ;
}



#feature-product{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: lighter
}

#prodetails{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

#prodetails .single-pro-imgage{
    width: 40% ;
    /* margin-right: 50px ; */
}
#big-image{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.small-img-group{
    display: flex;
    justify-content: center;
    
}

.small-img-col {
    flex-basis: 20% ;
    cursor: pointer ;
    padding-right: 10px;
}

#prodetails .single-pro-details{
    width: 50% ;
    padding-top: 100px ;
}

#prodetails .single-pro-details h4{
    padding: 50px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px ;
    margin-top: 50px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 30px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button{
    background-color: #088178 ;
    color: white;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}







@media (max-width: 768px) {
    .text {
        width: 400px; 
        height: auto;
        top: 9rem;
        left: 5%;
    }

    .text h4 {
        margin: 0 !important;
        padding: 0 !important;
    }
    .indicator{
        top: 80%;
    }



    .carousel-item {
        padding-top: 70px; 
    }
    .navbar-toggler .dropdown-menu{
        height: 100vh !important;
        
    }
    .navbar-toggler .dropdown-menu li{
        margin: 20px !important;
    }
    /* .navbar-toggler .dropdown-menu a :hover{
        color: #FE6868 !important ;
        background-color: #FE6868 !important;
    } */
    .navbar-toggler .dropdown-menu .last-login{
        position: absolute !important;
        top: 90% !important;
    }
}
@media (max-width: 477px){
    .text{
        width: 45%;
        left: 6.5% ;
    }
    .hero h2{
        color: white;
        width: 100%;
        left: 0;
    }
    .indicator{
        top: 85%;
    }


    #prodetails{
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image{
        width: 100%;
        margin-right:  0px ;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
}
